#!/usr/bin/make -f

VERSION=$(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)/\1/p')

%:
	dh $@ --with python-support

override_dh_auto_configure:
	./bootstrap.sh
	./configure --prefix=/usr --with-thriftpath=/usr --disable-static
	mkdir perl
	thrift --gen perl --out perl if/fb303.thrift

override_dh_auto_build:
	dh_auto_build
	cd java && ant -Dfb303.final.name=fb303-${VERSION}
