#!/usr/bin/make -f

PYVERS := $(shell pyversions -r)
VERSION=$(shell dpkg-parsechangelog | sed -ne 's/^Version: \(.*\)/\1/p')

%:
	dh $@ --with python2

override_dh_auto_configure:
	./bootstrap.sh
	./configure --prefix=/usr --with-thriftpath=/usr --disable-static
	mkdir perl
	thrift --gen perl --out perl if/fb303.thrift
	thrift --gen php --out php if/fb303.thrift

override_dh_auto_build:
	cd cpp && make \
		ln -s libfb303.so.1 libfb303.so.1.0.0  && \
		ln -s libfb303.so libfb303.so.1
	cd java && ant -Dfb303.final.name=fb303-${VERSION}

override_dh_auto_install:
	# CPP
	cd cpp && make install DESTDIR=$(CURDIR)/debian/tmp

	# Python
	cd $(CURDIR)/py && \
	for py in $(PYVERS); do \
		$$py setup.py install --root=$(CURDIR)/debian/python-fb303 \
			--prefix=/usr --install-layout=deb; \
	done

	# Perl
	mkdir -p $(CURDIR)/debian/libfacebook-fb303-perl/usr/share/perl5
	cp -r $(CURDIR)/perl/Facebook \
		$(CURDIR)/debian/libfacebook-fb303-perl/usr/share/perl5

	# PHP
	mkdir -p $(CURDIR)/debian/libfb303-php/usr/share/php
	cp -r $(CURDIR)/php/FB303 \
		$(CURDIR)/debian/libfb303-php/usr/share/php
	cp $(CURDIR)/php/FacebookBase.php \
		$(CURDIR)/debian/libfb303-php/usr/share/php/FB303/


override_dh_auto_clean:
	-rm -rf perl
	dh_auto_clean

override_dh_auto_test:
	# pass
